[
    {kernel, [
        {logger, [
            {handler, default, logger_std_h,
                %#{formatter => {logger_formatter, #{
                %    single_line => true,
                %    template => [time, " ", pid, " ", msg, "\n"]
                %}}}
                #{formatter => {flatlog, #{
                    map_depth => 3,
                    term_depth => 50,
                    colored => true
                    , template => [colored_start, time, " ", level, " ", pid, colored_end, " ", msg, "\n"]
                }}}
            }    
        ]},
        {logger_level, debug}
    ]}

    , "config/extra"
].
