[
    {lager, [
        {colored, true},
        {handlers, [
            {lager_console_backend, [{level,debug},
              {formatter_config,[
                  time,color," [",sev,"] ",pid,
                  {function,["©{",module,":",function,"#",line,"} "],[" "]},
                  message,"\e[0m\r\n"]}
            ]}
        ]}
    ]}

    , "config/extra"
].
